.ps_field {
    padding: 4px 8px 4px 8px;
}


.code-green {
    background-color: #4DB870;
    border: 1px solid green;
}


.code-yellow {
    background-color: #FFE680;
    border: 1px solid yellow;
}


.code-red {
    background-color: #FF6666;
    border: 1px solid red;
}